body{
    background-color: rgb(241, 235, 194);
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: rgb(240, 212, 111);
    padding: 15px 40px;
    display: flex;
}
nav a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: rgb(81, 82, 83);
    padding: 15px 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    border-radius: 70%;
}
nav a:hover{
    color: beige;
}
table{
    background-color: rgb(236, 240, 244);
    border-collapse: collapse;
    margin-top: 70px;
    width: 700px;
    height: 170px;
}
h3{
    color: rgb(112, 169, 169);
    font-size: 15px;
    margin: -left;
}
th{
    background-color: rgb(219, 168, 87);
}
footer{
    background-color: rgb(240, 212, 111);
    padding: 15px 40px;
    text-align: center;
    margin-top: 250px;
}
